PORT = 5000
MONGODB_URL = mongodb+srv://paras29exe:<your-password>@cluster-1.cg4flh7.mongodb.net
CORS_ORIGIN = "http://localhost:5173" # set your frontend origin
ACCESS_TOKEN_SECRET = SECRET-HERE
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = YOUR-Secret-here
REFRESH_TOKEN_EXPIRY = 1d

GOOGLE_CLIENT_ID =
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 